main{
	padding:0;
}

.container{
	min-width: 100%!important;
	padding:0 !important;
	margin-top: 0px;
}

.row{
	text-align: center;
	padding: 1em;

}

.carousel-item{
	padding: 0;
	height: 100%;	
}

.one .two .three .four .five .six {
	color: white;
	text-align: center;
	background-color: red;
	padding: 4px;
}


.col-md-12 {
	padding: 80px;
}

.product {
	width:250px !important;
	text-align: center;
	border-style: solid;
	border-color: black;
    border-width: 1px;
}


.starter-template {
	padding: 3rem 1.5rem;
	text-align: center;
}

ul li a {
    position: relative !important;
    display: inline-block !important;
    padding: 10px !important;
    font-weight: 500 !important;
	color:white;
	
}

li a {
    color: #fff;
}